<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <meta property="og:title" content="Azure DevOps Demo Generator">
    <meta property="og:image" content="https://azuredevopsdemogenerator.azurewebsites.net/assets/images/VSTS_cover_image.png">
    <meta property="og:description" content="Azure DevOps Demo Generator helps you create projects on your Azure DevOps organization with pre-populated  sample content that includes source code, work items, iterations, service endpoints, build and release definitions based on a template you choose.">
    <meta property="og:url" content="https://azuredevopsdemogenerator.azurewebsites.net/">
</head>
<body>
    <!--nav bar-->
    @RenderBody()
  
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>
