<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    <meta property="og:title" content="Visual Studio Team Services Demo Generator">
    <meta property="og:image" content="http://vstsdemogenerator.azurewebsites.net/assets/images/VSTS_cover_image.png">
    <meta property="og:description" content="Visual Studio Team Services Demo Generator helps you create projects on your Visual Studio Team Services account with pre-populated  sample content that includes source code, work items, iterations, service endpoints, build and release definitions based on a template you choose.">
    <meta property="og:url" content="https://vstsdemogenerator.azurewebsites.net">

    @*<script type='text/javascript'>
            var appInsights = window.appInsights || function (config) {
                function r(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } }
                var t = { config: config }, u = document, e = window, o = 'script', s = u.createElement(o), i, f; for (s.src = config.url || '//az416426.vo.msecnd.net/scripts/a/ai.0.js', u.getElementsByTagName(o)[0].parentNode.appendChild(s), t.cookie = u.cookie, t.queue = [], i = ['Event', 'Exception', 'Metric', 'PageView', 'Trace', 'Ajax']; i.length;) r('track' + i.pop()); return r('setAuthenticatedUserContext'), r('clearAuthenticatedUserContext'), config.disableExceptionTracking || (i = 'onerror', r('_' + i), f = e[i], e[i] = function (config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o), s }), t
            }({
            }); instrumentationKey: '7f2c2d9c-82b6-4c29-a5ec-55dc332f3f7a'


            //357ee24c-1987-4318-804b-6d019a0b0f67 --production[sachin]

            window.appInsights = appInsights;
            appInsights.trackPageView();
        </script>*@
    <script type="text/javascript">
            var appInsights = window.appInsights || function (config) {
                function i(config) { t[config] = function () { var i = arguments; t.queue.push(function () { t[config].apply(t, i) }) } } var t = { config: config }, u = document, e = window, o = "script", s = "AuthenticatedUserContext", h = "start", c = "stop", l = "Track", a = l + "Event", v = l + "Page", y = u.createElement(o), r, f; y.src = config.url || "https://az416426.vo.msecnd.net/scripts/a/ai.0.js"; u.getElementsByTagName(o)[0].parentNode.appendChild(y); try { t.cookie = u.cookie } catch (p) { } for (t.queue = [], t.version = "1.0", r = ["Event", "Exception", "Metric", "PageView", "Trace", "Dependency"]; r.length;) i("track" + r.pop()); return i("set" + s), i("clear" + s), i(h + a), i(c + a), i(h + v), i(c + v), i("flush"), config.disableExceptionTracking || (r = "onerror", i("_" + r), f = e[r], e[r] = function (config, i, u, e, o) { var s = f && f(config, i, u, e, o); return s !== !0 && t["_" + r](config, i, u, e, o), s }), t
            }({
                instrumentationKey: "7f2c2d9c-82b6-4c29-a5ec-55dc332f3f7a"
            });

            window.appInsights = appInsights;
            appInsights.trackPageView();
        </script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-91621428-2', 'auto'); //production key: UA-91621428-1 // QA key: UA-91754191-1
            ga('send', 'pageview');
        </script>
</head>
<body>
    <!--nav bar-->
    @RenderBody()
  
    @Scripts.Render("~/bundles/jquery")

    @RenderSection("scripts", required: false)
</body>
</html>
