@model VstsDemoBuilder.Models.LoginModel
@{
    ViewBag.Title = "Visual Studio Team Services Demo Generator";
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/assets/css/custom.min.css">
    <title>Unsupported Browser</title>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>
    <style>
        body {
            background-color: #f8f8f8;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        }

        img {
            width: 48px;
            height: 48px;
        }

        h1 {
            font-weight: 300;
            font-size: 34px;
            line-height: 40px;
        }

        p {
            font-weight: normal;
            font-size: 15px;
            line-height: 20px;
            color: rgba(0, 0, 0, 0.54);
        }

        a {
            word-wrap: break-word;
            overflow-wrap: break-word;
        }

        .container {
            margin: 200px auto 50px;
            max-width: 500px;
        }
    </style>
</head>
<body>
    <div class="container">
        <img width="48" height="48" alt="browser not supported" src="~/Images/Thinking_Face_Emoji.png">

        <h1>Oops, you seem to be using an unsupported browser.</h1>
        <p>Visual Studio Team Services Demo Generator works best on Chrome, Firefox, Edge, or Safari.</p>

    </div>

</body>
</html>
