@model VstsDemoBuilder.Models.LoginModel
@{
    ViewBag.Title = "Azure DevOps Demo Generator";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/assets/css/custom.min.css">
    <title>Verify</title>
    <script src="~/Scripts/jquery-1.12.4.js"></script>
    <script src="~/Scripts/jquery-1.12.4.min.js"></script>

</head>
<body>
    <section class="section-1 mainbanner d-flex flex-column">
        <main class="d-flex  mob-p-16">
            <div class="container">
                <div class="col-xl-4 col-lg-4 col-md-4 col-12 logo_container">
                    <div class="VSTS-hero p-4">
                        <div class="display-4 mr-5 text-white text-left logo_text">
                            <img src="~/assets/images/VS_logo.png" alt="" width="48px" class="p-2">
                            Azure DevOps Demo Generator
                        </div>
                    </div>
                </div>

                <div class="VSTS-hero-image col-md-6 col-lg-6 col-xl-6 float-left" style="position:relative;">
                   

                    <div class="VSTS-hero-text text-primary p-5" style="position: absolute; bottom: 0;width: 100%;">
                    </div>
                </div>
                <div class="VSTS-details mob-p0 p-3 col-md-6 col-lg-6 col-xl-6 float-left">
                    <img class="d-block demo-generator-details-logo mt-2 mt-md-4 desk_logo" src="~/assets/images/VSTS_full_logo.png" alt="">
                    <img class="d-block demo-generator-details-logo mt-2 mt-md-5 mob_logo" src="~/assets/images/VSTS_full_logo_mob.png" alt="">
                    <h6 class="h6 text-primary mt-3 text-uppercase text-left"><a href="https://docs.microsoft.com/azure/devops/demo-gen/?view=vsts" class="azuretitle" target="_blank">Azure DevOps Demo Generator</a></h6>
                    <p class="text-left">
                        Azure DevOps Demo Generator helps you create projects on your Azure DevOps Organization with pre-populated  sample content that includes source code, work items, iterations, service endpoints, build and release definitions based on a template you choose. <a href="https://docs.microsoft.com/en-us/azure/devops/demo-gen/use-vsts-demo-generator-v2?view=vsts" class="readmore" target="_blank">Read more</a>
                    </p>
                    <p class="text-left mb-0">
                        The purpose of this system is to simplify working with the <a href="https://www.azuredevopslabs.com" class="readmore" target="_blank"> Azure Devops hands-on-labs</a>, demos and other education material provided by the Microsoft Azure Marketing team.
                    </p>
                    <div class="row ml-1">
                        <div class="text-left">
                            <p class="transparent text-left mb-1">Sign in here</p>
                            <a aria-label="Get started with Azure DevOps for free" id="signInWithVSTS" class="btn btn-primary rd-4 rd-4-w">
                                Sign In
                            </a>
                            @*<button class="btn btn-primary select-button" id="signInWithVSTS"></button>*@
                        </div>
                    </div>
                    <div class="row ml-1">
                        <div class="text-lef">
                            <p class="text-left mt-3 mb-1">Don’t have an Azure DevOps Organization?</p>
                            <a target="_blank" aria-label="Get started with Azure DevOps for free" class="btn btn-primary rd-4 rd-4-w" href="https://app.vsaex.visualstudio.com">
                                Get started for free
                            </a>
                        </div>
                        <div class="text-left mt-3">
                            <p>Try our other Generators</p>

                            <p>
                                <a href="https://appcenterdemogenerator.azurewebsites.net" target="_blank" class="backlink appcenter_icon ">App Center Demo Generator</a>
                                <a href="https://github.com/Microsoft/TFSDemoGenerator" target="_blank" class="backlink tfs_icon mob_mt_10">TFS Demo Generator</a>
                            </p>
                        </div>
                    </div>
                    <!--div class="demo-generator-feedback mt-auto text-center text-sm-left">
            <p>
                <ul>
                    <li>
                        Looking to populate your TFS projects? Checkout the
                        <a href="https://github.com/Microsoft/TFSDemoGenerator" target="_blank">TFS Demo Generator</a>
                    </li>
                    <li>
                        Looking for Mobile DevOps projects? Checkout the
                        <a href="https://appcenterdemobuilder.azurewebsites.net/" target="_blank">App Center Demo Builder</a>
                    </li>

                </ul>
            </p>
        </div-->
                </div>
            </div>

        </main>
        <footer class="footer text-sm p-2 text-center d-flex flex-column flex-sm-row text-sm-left">
            <a href="https://www.ecanarys.com" class="text-primary mr-sm-auto" target="_blank">Developed by Canarys Automations Pvt Ltd</a>
            <div class="link">
                <script>function fbs_click() { u = "https://azuredevopsdemogenerator.azurewebsites.net/"; t = +Azure + DevOps + Demo + Generator & window.open('http://www.facebook.com/sharer.php?u=' + encodeURIComponent(u) + '&t=' + encodeURIComponent(t), 'sharer', 'toolbar=0,status=0,width=626,height=436'); return false; }</script>
                <a href="http://www.facebook.com/sharer.php?u=https://azuredevopsdemogenerator.azurewebsites.net/&t=Azure+DevOps+Demo+Generator" target="_blank"  title="Share on Facebook"><img src="~/Images/facebook-c.png" style="width:16px;" /></a>&nbsp;&nbsp;
                <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url=https://azuredevopsdemogenerator.azurewebsites.net/&t=Azure+DevOps+Demo+Generator" target="_blank"  title="Share on LinkedIn"><img src="~/Images/linkdin-c.png" style="width:16px;" /></a>&nbsp;&nbsp;
                <a href="https://twitter.com/intent/tweet?url=https://azuredevopsdemogenerator.azurewebsites.net/&amp;text=Azure+DevOps+Demo+Generator&amp;hashtags=azuredevopsdemogenerator" target="_blank"  title="Share on Twitter"><img src="~/Images/twitter-c.png" style="width:16px;" /></a>&nbsp;&nbsp;

                <a href="https://www.visualstudio.com/support/support-overview-vs" target="_blank" class="text-primary ml-3">Contact Us</a>
                <a href="https://go.microsoft.com/fwlink/?LinkID=264782" target="_blank" class="text-primary ml-3">Privacy</a>
                <a href="https://go.microsoft.com/fwlink/?LinkID=266231" target="_blank" class="text-primary ml-3">Terms of Use</a>
                <a href="https://www.microsoft.com/en-us/legal/intellectualproperty/Trademarks/EN-US.aspx" target="_blank" class="text-primary ml-3">Trademarks</a>
            </div>
        </footer>
    </section>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#signInWithVSTS').click(function () {
            appInsights.trackEvent("Sign in button clicked");
            ga('send', 'event', 'Sign In', 'Clicked');
            window.location.href="../Account/index";
        });

        ga('send', 'event', 'Verify page', 'visited');
    });

	$("input").on("keypress", function (e) {
		if (e.which === 32 && !this.value.length)
			e.preventDefault();
	});
	$(document).keypress(function (e) {
		if (e.which == 13) {
			$('#btnSubmit').click();
			return false;
		}
    });


	$("#btnCreate").click(function () {
		var URL = "https://login.microsoftonline.com/common/oauth2/authorize?client_id=499b84ac-1321-427f-aa17-267ca6975798&site_id=501454&response_mode=form_post&response_type=code+id_token&redirect_uri=https%3A%2F%2Fapp.vssps.visualstudio.com%2F_signedin&nonce=0393a80e-180e-412e-8504-49736ead790b&state=realm%3Dapp.vsaex.visualstudio.com%26reply_to%3Dhttps%253A%252F%252Fapp.vsaex.visualstudio.com%252Fprofile%252Faccount%253FacquisitionId%253Df008a85e-fb3c-4181-9b38-52e037824656%2526campaign%253Do~msft~vscom~product-vsts-hero~464%2526account%253Dfirst%2526mkt%253Den-us%26ht%3D3%26nonce%3D0393a80e-180e-412e-8504-49736ead790b&resource=https%3A%2F%2Fmanagement.core.windows.net%2F&cid=0393a80e-180e-412e-8504-49736ead790b&wsucxt=1";
		window.open(URL, '_blank');
		return false;
	});

	$(function () {
		if ('@Model.Message' != '') {
			$("#txtAlert").text('@Model.Message');
			$("#txtALertContainer").show();
		}

		$(document).on('click', '.radioclass', function () {
			if ($('#haveAccount').is(':checked')) {
				$('.radioclass').not(this).prop('checked', false);
			}
		});
	});
</script>
