################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/VstsDemoBuilder/Templates/SmartHotel360V2
/src/VstsDemoBuilder/Templates/BlogWebSite
