################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

/src/VstsDemoBuilder/Templates/BlogWebSite
/src/VstsDemoBuilder/Templates/SmartHotel360V2
/src/VstsRestAPI/VstsRestAPI.csproj.user
/src/VstsDemoBuilder/Logs
